mat-toolbar  {
    .logo {
        margin-right: 60px;
        padding: 4px 0;
    }
    .logo--top {
        float:left; 
    }
    .logo--bottom {
        float:left; 
        clear: left;
    }
    
    a {
        text-decoration: none;
        color: white;
    }

    a, span {
        margin-right: 20px;

    }


}
