<mat-toolbar color="primary">
  <span>🌸🍀🌺</span>
  <span>Nerdy calc</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item *ngFor="let section of sections" (click)="setSection(section.value)">
        <span>{{section.name}} {{section.value}}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-cleaning *ngIf="currentSection === 'Cleaning'"></app-cleaning>
    <app-expences *ngIf="currentSection === 'Expences'"></app-expences>
    <app-household *ngIf="currentSection === 'Household list'"></app-household>
  </mat-sidenav-content>
</mat-sidenav-container>