<mat-toolbar color="primary">
  <div class="logo">
    <span class="logo--top">🌸🍀🌺</span>
    <span class="logo--bottom">Nerdy calc</span>
  </div>

  <a routerLink="/cleaning" routerLinkActive="active">🧼 Cleaning</a>
  <span>|</span>
  <a routerLink="/expences" routerLinkActive="active">💸 Expences</a>
  <span>|</span>
  <a routerLink="/hoursehold" routerLinkActive="active">🏡 Household list</a>
</mat-toolbar>

<div class="container">
  <div *ngIf="mainForm">
    <form [formGroup]="mainForm">
      <mat-form-field appearance="fill">
        <mat-label>Leave a message:</mat-label>
        <input formControlName="message" matInput type="text">
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button (click)="submit()">Submit</button>
    </div>
    <div>
      Output:
      <li *ngFor="let mm of messages$ | async">
        {{mm.payload.doc.data() | json}}
      </li>
    </div>
  </div>
</div>

<app-cleaning></app-cleaning>