<div class="my-4">

    <h1>Completed services</h1>


    <table [hidden]="!completedServicesDataSource" #completedServiceSort matSort mat-table [dataSource]="completedServicesDataSource"
        class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> What </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Who </th>
            <td mat-cell *matCellDef="let element"> {{element.neighbor.name}} </td>
        </ng-container>

        <ng-container matColumnDef="dateCompleted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> When </th>
            <td mat-cell *matCellDef="let element"> {{element.dateCompleted | date:'longDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date created </th>
            <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'longDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Comment </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Points </th>
            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button mat-raised-button (click)="updateCompletedService(element)">Update</button>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button mat-raised-button color="warn"
                    (click)="deleteCompletedService(element.id)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedCompletedServicesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCompletedServicesColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<mat-card class="my-4">
    <!-- TODO to modal-->
    <h3>Add a new completed service</h3>
    <div *ngIf="newCompletedServiceForm">
        <form [formGroup]="newCompletedServiceForm">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Select a service</mat-label>
                    <mat-select formControlName="title" required>
                        <mat-option *ngFor="let service of (existingServices$ | async)" [value]="service">
                            {{service.title}} ({{service.points}} points)
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Who did a service</mat-label>
                    <mat-select formControlName="neighbor" required>
                        <mat-option *ngFor="let neighbor of (neighbors$ | async)" [value]="neighbor">
                            {{neighbor.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>When</mat-label>
                    <input matInput [matDatepicker]="dateCompletedPicker" formControlName="dateCompleted">
                    <mat-datepicker-toggle matSuffix [for]="dateCompletedPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateCompletedPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Some optional details</mat-label>
                    <textarea matInput formControlName="comment" matInput type="text"></textarea>
                </mat-form-field>
            </div>
        </form>
        <button mat-button mat-raised-button color="primary" (click)="addCompletedService()">Save</button>
    </div>
</mat-card>




<div class="row my-5">
    <mat-divider></mat-divider>
</div>




<div class="my-4">

    <h2>Services</h2>

    <table [hidden]="!existingServicesDataSource" mat-table #existingServiceSort matSort [dataSource]="existingServicesDataSource"
        class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}}</td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
                <textarea readonly matInput>{{element.details}}</textarea>
            </td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button mat-raised-button color="warn" (click)="deleteService(element.id)">Delete</button>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button mat-raised-button (click)="updateService(element.id, element)">Update</button>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedExistingServiceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedExistingServiceColumns;"></tr>
    </table>
</div>


<mat-card class="my-4">
    <!-- TODO to modal-->
    <h3>Add a new service item</h3>
    <div *ngIf="newServiceForm">
        <form [formGroup]="newServiceForm">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Add new cleaning service</mat-label>
                    <input formControlName="title" matInput type="text" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Points</mat-label>
                    <input formControlName="points" matInput type="number" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Some optional details</mat-label>
                    <textarea matInput formControlName="details" matInput type="text"></textarea>
                </mat-form-field>
            </div>
        </form>
        <button mat-button mat-raised-button color="primary" (click)="addService()">Create service</button>
    </div>
</mat-card>